PolishConverter/PolishConverter/obj/
PolishConverter/PolishConverter/bin/
SyntaxParser/bin/
SyntaxParserTests/bin/
SyntaxParser/obj/
SyntaxParserTests/obj/
PolishEvaluator/PolishEvaluator/bin/
PolishEvaluator/PolishEvaluator/obj/
SyntaxParser/_ReSharper.SyntaxParser/
